<!DOCTYPE html>
<html lang="en">
<!-- Created by Kareem Zahra ID: 301177518-->

<head>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type">
<title>Express Portfolio Site</title>
<meta content="project,school ,comp229,centennial college" name="keywords">
<link href="./stylesheets/index.css" rel="stylesheet" type="text/css">
<style type="text/css">
.auto-style1 {
	text-align: center;
}
.auto-style2 {
	text-align: left;
}
.auto-style3 {
	color: #CC0066;
}
</style>
</head>

<body>
<header>

	<img alt="logo" height="230" src="./images/house.gif" style="float: left" width="219"><br>
	<br><br><h1>
	Express Portfolio Site</h1>
	
<h3><em>The future of revolutionary dental software will begin here</em></h3><br>
<br>
</header>


