<%-include partials/header.ejs %>

<main><div class="division"><br id="division">
<table style="width: 100%" id="division">
	<tr>
		<td style="width: 210px; height: 350px;" class="auto-style1" valign="top"><br>
		<table style="width: 100%" id="navbar">
			<tr>
				<td><a href="/">Home</a></td>
			</tr>
			<tr>
				<td><a href="/projects">Projects</a></td>
			</tr>
			<tr>
				<td><a href="/contact">Contact</a></td>
			</tr>
			<tr>
				<td><a href="/aboutme">About Me</a></td>
			</tr>
            <tr>
                <td><a href="/services">Services</a></td>
            </tr>
            <tr>
                <td><a href="/business-list">Business Contact List</a></td>
            </tr>
		</table>
		<br><br><br></td>
		<td style="width: 728px; height: 350px;" class="auto-style2" valign="top"><br>
		<h3 class="auto-style3">&nbsp;About Me :</h3>

		<p>
		My ambition is to pursue a profession in web development 
		in order to increase my income and find a job that I enjoy. I plan to gain expertise as
		 a backend web developer by taking classes at Centennial College and constructing websites. 
		 Every day, I will devote at least one hour to learning a new topic 
		 in order to achieve everyday improvements. 
		 Then I can create a new website from scratch to serve as my portfolio,
		  showcasing my abilities to my professional network. 
		</p>


		<h3 class="auto-style3">&nbsp; Resume :</h3>

		<ul><span lang="en-ca"><a href="https://www.linkedin.com/in/kareemzahra/" target="_blank">My Linkedin Profile</a >
			<br>
			
			<a href="https://drive.google.com/u/0/uc?id=1OcH3z_E7-3Ui7ss12fhAokoIGBoUcG9N&export=download" download>Download My Resume</a>
		</ul>
		
		</td>
		<td class="auto-style1" valign="top" style="height: 350px">
		<img alt="agent picture" height="414" src="images/AgentPic.jpg" width="300">
		<br>
		<h3 id="navbar">Phone : 647 571-3904</h3>
		<h3 id="navbar">E-mail:</h3>
		<h3 id="navbar"><a href="mailto:kareemz@cosmorealestate.ca">kareemz@cosmorealestate.ca</a></h3><br><br></td>
	</tr>
</table>
<main><a href="http://studentweb.cencol.ca/kzahra/index.html">Go to Index(My 
	personal Page)</a></main><br id="division"></main>
</div>

<%-include partials/footer.ejs %>
