<%-include partials/header.ejs %>

<main><div class="division"><br id="division">
<table style="width: 100%" id="division">
	<tr>
		<td style="width: 210px; height: 350px;" class="auto-style1" valign="top"><br>
		<table style="width: 100%" id="navbar">
			<tr>
				<td><a href="/">Home</a></td>
			</tr>
			<tr>
				<td><a href="/projects">Projects</a></td>
			</tr>
			<tr>
				<td><a href="/contact">Contact</a></td>
			</tr>
			<tr>
				<td><a href="/aboutme">About Me</a></td>
			</tr>
			<tr>
				<td><a href="/services">Services</a></td>
			</tr>
			<tr>
				<td><a href="/business-list">Business Contact List</a></td>
			</tr>
		</table>
		<br><br><br></td>
		<td style="width: 728px; height: 350px;" class="auto-style2" valign="top"><br>
		<h3 class="auto-style3">Contact me for any inquiries :</h3>
		<p>Phone: 647-571-3904</p>
		<p>email: kts2001@live.com</p>
		<p>& 

Contact Form:</p>
<br>
		
		<form action="mailto:kareemz@cosmorealestate.ca" method="post">
			First Name :
			<input name="firstname" size="25" tabindex="1" type="text"><br>Last 
			Name : <input name="lastname" size="25" tabindex="2" type="text"><br>
			Phone #&nbsp;&nbsp;&nbsp;&nbsp; :
			<input name="phone" size="25" tabindex="3" type="text"><br>E-mail&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
			: <input name="email" size="40" tabindex="4" type="text"><br>Select 
			How do you want me to get back to you?
			<select name="Select1" style="width: 81px" tabindex="15">
			<option>Phone</option>
			<option>Email</option>
			<option>Text</option>
			</select><br>Any Question? :
			<textarea cols="30" name="other" rows="4" tabindex="19">Please leave a message here and I will contact you ASAP </textarea><br>
			<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<input class="auto-style4" name="submit" tabindex="21" type="submit" value="COMPLETE FORM"><input name="Reset1" style="width: 194px" tabindex="23" type="reset" value="CLEAR ALL"><br>
			<br><br><br><br>
		</form>
		
		</td>
		<td class="auto-style1" valign="top" style="height: 350px">
		<img alt="agent picture" height="414" src="images/AgentPic.jpg" width="300">
		<br>
		<h3 id="navbar">Phone : 647 571-3904</h3>
		<h3 id="navbar">E-mail:</h3>
		<h3 id="navbar"><a href="mailto:kts2001@live.com">kts2001@live.com</a></h3><br><br></td>
	</tr>
</table>
	<br id="division">
<main><a href="http://studentweb.cencol.ca/kzahra/index.html">Go to Index(My 
	personal Page)</a></main></main></div>

	<%-include partials/footer.ejs %>
