<%-include partials/header.ejs %>

<main><div class="division"><br id="division">
<table style="width: 100%" id="division">
	<tr>
		<td style="width: 210px" class="auto-style1" valign="top"><br>
		<table style="width: 100%" id="navbar">
			<tr>
				<td><a href="/">Home</a></td>
			</tr>
			<tr>
				<td><a href="/projects">Projects</a></td>
			</tr>
			<tr>
				<td><a href="/contact">Contact</a></td>
			</tr>
			<tr>
				<td><a href="/aboutme">About Me</a></td>
			</tr>
            <tr>
                <td><a href="/services">Services</a></td>
            </tr>
		</table>
		<br><br><br></td>
		<td style="width: 728px" class="auto-style2" valign="top"><br>
		<h3 class="auto-style3">&nbsp; Current and Future Projects</h3>
		<table cellpadding="5" style="width: 100%">
			<tr>
				<td style="width: 416px; height: 303px" valign="top"><p>
				<strong><u>My Main Project:</u></strong></p>
				<p>
				Dental Software Practice which is an application suite 
				that aids dental practitioners and oral healthcare providers 
				in efficiently managing their daily activities.
				I'll be the primary developer, 
				and I'm hoping that it will stay open source for future development 
				to make the lives of practitioners easier.</p></td>
				<td style="height: 303px" class="auto-style1">
				<img alt="house pic" height="225" src="images/house1.jpg" width="300" class="auto-style4"></a></td>
				</br>
			</tr>
			
			
			
			<tr>
				<td class="auto-style2"><p>
				<strong><u>My Current Project:</u></strong></P>
				<p>
				Web Portal For Dental Employee:
				It is an online tool that helps dental professionals locate temporary jobs and shifts.
				I'll be the primary web developer, 
				and I'm hoping that it will make it easier for healthcare workers to obtain jobs.&nbsp;</p>
				<p><br></p>
				</td>
				<td class="auto-style1">
				<img alt="house picture" height="199" src="images/house2.jpg" width="300" class="auto-style4"></a></td>
			</tr>
			<tr>
				<td><p><span class="auto-style5"><strong>My Future Project:</strong></span></p>
				<p>
				A mobile application that will make it easier to transfer dental records such as
				 X-rays and pictures, which is usually time-consuming.
				My role is not yet specified, 
				but I hope to be involved in the development process.</p></td>
				<td class="auto-style1">
				<img alt="house" height="199" src="images/house3.jpg" width="300" class="auto-style4"></a>&nbsp;</td>
			</tr>
		</table>
		<br><br><br></td>
		<td class="auto-style1" valign="top">
		<img alt="agent picture" height="414" src="images/AgentPic.jpg" width="300">
		<br>
		<h3 id="navbar">Phone : 647 571-3904</h3>
		<h3 id="navbar">E-mail:</h3>
		<h3 id="navbar"><a href="mailto:kts2001@live.com">kts2001@live.com</a></h3><br><br></td>
		
	</tr>
</table>
	<br id="division">
<main><a href="http://studentweb.cencol.ca/kzahra/index.html">Go to Index(My 
	personal Page)</a></main></main></div>
<footer><em>Copyright&copy; Kareem Zahra 301177518 - Centennial</em></footer>
</body>

</html>



<%-include partials/footer.ejs %>