<%-include partials/header.ejs %>

<main><div class="division"><br id="division">
<table style="width: 100%" id="division">
	<tr>
		<td style="width: 210px" class="auto-style1" valign="top"><br>
		<table style="width: 100%" id="navbar">
			<tr>
				<td><a href="/">Home</a></td>
			</tr>
			<tr>
				<td><a href="/projects">Projects</a></td>
			</tr>
			<tr>
				<td><a href="/contact">Contact</a></td>
			</tr>
			<tr>
				<td><a href="/aboutme">About Me</a></td>
			</tr>
            <tr>
                <td><a href="/services">Services</a></td>
            </tr>
            <tr>
                <td><a href="/business-list">Business Contact List</a></td>
            </tr>
		</table>
		<br><br><br></td>
		<td style="width: 728px" class="auto-style2" valign="top"><br>
		
        <h1>Services : </h1>
        <ul><li>Front End Web development </li>
        <li>Open to volunteering ! </li>
        </ul>
        
        <img src="./images/inprogress.jpg" width="500px">
        
			
		
		<br><br><br></td>
		<td class="auto-style1" valign="top">
		<img alt="agent picture" height="414" src="images/AgentPic.jpg" width="300">
		<br>
		<h3 id="navbar">Phone : 647 571-3904</h3>
		<h3 id="navbar">E-mail:</h3>
		<h3 id="navbar"><a href="mailto:kts2001@live.com">kts2001@live.com</a></h3><br><br></td>
		
	</tr>
</table>
	<br id="division">
<main><a href="http://studentweb.cencol.ca/kzahra/index.html">Go to Index(My 
	personal Page)</a></main></main></div>




<%-include partials/footer.ejs %>
